@font-face {
  font-family: "customicons"; /* Project id 2878519 */
  src:url('/static/customicons.ttf') format('truetype');
}

.customicons {
  font-family: "customicons" !important;
}

.youxi:before {
  content: "\e60e";
}

.wenjian:before {
  content: "\e60f";
}

.zhuanfa:before {
  content: "\e610";
}
.selected-page{
	color: #00B2C2;
}
.main-color{
	background-color: #00c170;
}
.unselected-page{
	color: #3f3f3f;
}
